<nav>
  <div class="nav-wrapper teal">
    <a href="#" class="brand-logo center"> Pokédex</a>
  </div>
</nav>
<!-- a chake fois ke l'url va venir bouger dans le navigateur de l'utilisateur,angular recupere le composant associé dans app-routing et venir injecter le contenu de ce composant a la place de router-outlet -->
<router-outlet></router-outlet>

<!-- <input #input (keyup.enter)="selectPokemon(input.value)" type="number" />

<p *ngIf="pokemonSelected">
  Vous avez sélectionné le pokémon:{{ pokemonSelected.name }}
</p>

<p *ngIf="!pokemonSelected">Aucun pokémon n'a été trouvé !</p> -->
